#titel{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    background-color: darkgrey;


}
#titel h3{
    margin-left: 20px;
}

.itemphoto{
    width: 75px;
    height: 75px;
    display: block;
    margin-left: -280px;
}
.addremove{
    width: 15px;
    height: 15px;
    display: block;
}
.itemContainer{
    display: flex;
    flex-flow: row;

    justify-content:space-around;
    background-color: beige;

}
#antal{

}
#pris{

}