/* GLOBAL */
body {
    font-family: gruppo;
    background-color: #e0e0e0;
    margin: 8px;
    color:white;
}

.header a, footer a {
	text-decoration: none;
	color:white;
}

ul{
	list-style:none;
}

.button{
	width:110px;
	height:40px;
  border-radius:6px;
  background-color: #474747;
  color:white;
	margin:auto 10px;
	border:none;
	font-family: gruppo;
	font-size: 20px;
	text-align: center;
}

.button:hover{
	background-color: black;
	cursor:pointer;
}

/* HEADER */
.header {
    display: flex;
    position: fixed;
    background-color: #474747;
    height: 70px;
    top: 0;
    left: 8px;
    right: 8px;
    border-bottom: 33px solid #e0e0e0;
}

.headerLogo {
    flex: 2;
    margin-left:10px;
}

.headerLogo img {
    height: 60px;
    margin-top:5px;
}

.headerButtons {
    flex: 1;
    background-color: #e0e0e0;
}

.headerButtons ul {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-right: 33px;
}

.headerButtons li {
  height:30px;
  padding:10px 10px 5px 10px;
}

.headerButtons a {
  vertical-align: bottom;
  padding-top:5px;

}

.headerCheckout {
    text-align: center;
    flex: 1;
}

.headerCheckout img {
    height: 50px;
    padding: 10px 50px;
}

/* MAIN */
main {
    width: 80%;
    height: 1000px;
    margin-left: 10%;
    margin-top: 103px;
    background-color: #ffffff;
    border-bottom: 33px solid #e0e0e0;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    background-color: #474747;

}

.footerColumns {
    flex: 1;
    text-align: center;
}

.footerColumns li:hover {
    color: black;
}

.footerColumns h4 {
    margin-left:40px;
}

footer img {
    height: 20px;
    padding:5px;
}

footer section:last-of-type ul li{
  display:inline;
}

/*Product page specific CSS*/

#product-content {
    display: flex;
    justify-content: center;
    color:black;
}

#product-content .product-description {
    display: flex;
    align-items: center;
    width: 700px;
    height: 110px;
}

#product-content ul {
    display: block;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#product-content ul li {
    border-bottom: 1px solid #474747;
    border-left: 1px solid #474747;
    border-right: 1px solid #474747;
}

#product-content ul li:first-child {
    border-top: 1px solid #474747;
}

.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    width: 100px;
}

#product-content .product-image img {
    height: 100px;
    width: 75px;
}
