

body{	
	font-family: gruppo;

}

ul{					/*Meny bar*/

	list-style-type: none;
	margin: 0;
	padding: 0;
	border: solid 1px silver;
	background-color: grey;
	display: flex;
	justify-content: center;

}

li{		/*padding till meny baren*/

	padding: 15px 15px;

}

li a {		/*knapparna i menybaren*/
	
	font-size: 25px;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {	/*knapparna ändrar färg när man hovrar över dom*/

    background-color: white;

}

#cartLogo{	/*placerade cart bilden, länkar den till en sida senare*/
	
	margin-top: 5px;
	position: absolute;
	top: 9px;
	right: 30px;
	height: 40px;
	width: 45px;

}

#logo{	/*placerade "Loggan"*/

	position: absolute;
	top: -42px;
	left: 30px;
	color:red;
	font-size: 50px;

}

footer{	
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: black;
}


figcaption{	/*alla bilder har en figcaption men om man skriver för mycke ändrar contenten storlek, behöver fixas*/
	background-color: lightgrey;
	padding: 10px;
	margin: auto;
}

figcaption span{	/*dom små bilderna har figcaptionen på sidan så gjorde den högre med span*/
	
	display: block;	
}


#topCampaign{	
	display: flex;
	justify-content: center;
}

#middleCampaign{
display: flex;
justify-content: center;

}
								
#smallCampaign{
	display: flex;
	justify-content: center;
}									/*top, middle,small. alla bilder ligger i sitt eget element förutom dom små, gjorde så alla centrerades*/

.smallFig{
	display: flex;
}						/*dehär gör att figcaption på dom små bilderna är på sidan, inte riktigt säker varför*/


footer{
	color:white;
}



