/* ContactForms */

#contentBackground{
  display: flex;
  justify-content: space-around;
  padding:5% 0;
}

form {
  background-color:grey;
  width:40%;
	border-radius: 15px;
	min-width:400px;
}


table{
  width:100%;
  padding:40px;
}

input[type=text],input[type=email], textarea {
  width:100%;
  border-radius: 5px;
  border-style: groove;
  resize:vertical;
  padding:10px;
}

input[type=submit]{
	float:right;
}
